*{
  text-decoration: none;
  font-family: serif;
}

body {
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  background-image: url(gbr/bg-maps.png);
  background-position: hover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.login-form{
  width: 300px;
  background-image: url(gbr/giphy.gif);
  padding: 80px 70px;
  position: relative;
  left: 40%;
  opacity: 50%;
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
  color: white;
}

.txt{
  position: relative;
  margin: 30px ;
}

.txt input{
  font-size: 15px;
  color: black;
  border: none;
  width: 100%;
  padding: 0 5px;
  height: 40px;
}

label{
  color: white;
}

.logbtn{
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.bottom-text{
  margin-top: 70px;
  text-align: center;
  font-size: 15px;
  color: white;
}

@media only screen and (max-width: 800px) {
  *{
    text-decoration: none;
    font-family: serif;
  }
  
  body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background-image: url(gbr/bg-maps.png);
    background-position: hover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  .login-form{
    width: 300px;
    background-image: url(gbr/giphy.gif);
    padding: 80px 70px;
    position: relative;
    left: 40%;
    opacity: 50%;
  }
  
  .login-form h1{
    text-align: center;
    margin-bottom: 60px;
    color: white;
  }
  
  .txt{
    position: relative;
    margin: 30px ;
  }
  
  .txt input{
    font-size: 15px;
    color: black;
    border: none;
    width: 100%;
    padding: 0 5px;
    height: 40px;
  }
  
  label{
    color: white;
  }
  
  .logbtn{
    display: block;
    width: 100%;
    height: 50px;
    cursor: pointer;
  }
  
  .bottom-text{
    margin-top: 70px;
    text-align: center;
    font-size: 15px;
    color: white;
  }
}

